:root {
    --border-color:                             rgba(41, 39, 39, 0.898);
    --altruist-color:                           #177245;
    --egoist-color:                             #950204;

    --panel-width:                              460px;
    --panel-margin:                             20px;
    --panel-border-width:                       10px;

    --flask-border-radius:                      240px;

    --cp-width:                                 var(--panel-width);
    --cp-height:                                var(--panel-width);
    --cp-border-radius:                         15px;
    --cp-tab-shortcut-font-size:                10pt;
    --cp-form-field-block-margin-top:           var(--panel-margin);
    --cp-form-field-block-header-font-size:     9pt;
    --cp-form-field-padding-top:                8pt;
    --cp-form-field-padding-bottom:             3pt;
    --cp-form-field-font-size:                  8.5pt;
        
}

@media screen and (max-width: 550px) {
    :root {
        --panel-width:                              280px;
        --control-panel-height:                     auto;
        --flask-border-radius:                      150px;
        --cp-tab-shortcut-font-size:                12pt;        
        --cp-form-field-block-header-font-size:     12pt;
        --cp-form-field-font-size:                  12pt;
    }
}

.smallscr {
    display: none;
}

@media screen and (max-width: 550px) {

    .smallscr {
        display: inline;
    }

    .fullscr {
        display: none;
    }
}


/* Fonts */
@font-face {
	font-family: 'Heading';
	src: url('FontsFree-Net-Biome-W04-Bold.ttf') format('truetype');
 }


/* Header */

h1 {
    position: relative;
    left: var(--panel-margin);
    top: 5pt;
    width: 90%;
    margin: 0;
    font-family: Heading;
    font-size: 16pt;
    color: #00ff7f;
    white-space: nowrap;
}

@media screen and (max-width: 550px) {
    h1 {
        width: 90%;
        text-align: center;
    }
}

img.logo {
    position: absolute;
    z-index: -1;
    top: 29pt;
    left: 15pt;
    width: 50px;
}

@media screen and (max-width: 550px) {
    img.logo {
        display: none;
    }
}

#divHelp a:link {
    text-decoration: none;
}

#divHelp a:visited {
    text-decoration: none;
}

#divHelpIcon {
    margin: auto;
}

#divHelp {
    position: absolute;
    top: 4pt;
    width: 22pt;
    height: 22pt;
    left: calc(100vw - 50pt);
    border-radius: 12pt;
}

@media screen and (max-width: 550px) {
    
    #divHelpIcon {
        margin: auto;
    }

    #divHelp {
        position: absolute;
        top: 9pt;
        width: 10pt;
        height: 10pt;
        left: calc(100vw - 17pt);
        border-radius: 10pt;
    }
}

img.rabbit {
    position: fixed;
    z-index: -1;
    top: 15pt;
    left: 0pt;
    width: 100px;
}

@media screen and (max-width: 550px) {
    img.rabbit {
        display: none;
    }
}

#divPageHeader {
    width: 100%;
    height: 30pt;
    background-color: var(--border-color);
}

@media screen and (max-width: 550px) {
    #divPageHeader {
        padding-left: 0;
    }
}


/* Flask */

.altruist {
    color: var(--altruist-color);
}

.egoist {
    color: var(--egoist-color);
}

div.mushroom {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: brown;
}

div.water {
    position: absolute;
    z-index: -1;
}

div.flask {
    position: relative;
    width: var(--panel-width);
    height: var(--panel-width);
    margin: 0;
    border: var(--panel-border-width) var(--border-color) solid;
    border-radius: var(--flask-border-radius);
    overflow: hidden;
}

@media screen and (max-width: 550px) {
    div.flask {
        position: block;
        width: var(--panel-width);
        height: var(--panel-width);
        margin: auto;
        border: var(--panel-border-width) var(--border-color) solid;
        border-radius: var(--flask-border-radius);
        overflow: hidden;
    }
}

#divLaboratoryTable {
    display: inline-block;
    margin-left: var(--panel-margin);
    margin-top: var(--panel-margin);
    margin-right: var(--panel-margin);
    margin-bottom: calc(2*var(--panel-margin));
    padding: 0; 
    text-align: center;
    vertical-align: top;
}

@media screen and (max-width: 550px) {
    #divLaboratoryTable {
        display: block; 
        width: 100%; 
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }
}


/* Control panel */

span.cpTabShortcut {
    margin-right: 5pt;
    font-size: var(--cp-tab-shortcut-font-size);
    font-weight: bold;
}

#divTabShortcuts {
    margin-top: var(--panel-margin);
    margin-left: var(--panel-margin);
    margin-bottom: 0;
}

@media screen and (max-width: 550px) {
    #divTabShortcuts {
        margin-left: 0;
    }
}

div.cpFormFieldBlockHeader h2 {
    margin: 0;
    font-size: var(--cp-form-field-block-header-font-size);
}

div.cpFormFieldBlockHeader {
    margin: 0;
}

label {
    display: table-cell;
    min-width: calc(var(--panel-width)*0.6);
    max-width: calc(var(--panel-width)*0.4);
    padding-top: var(--cp-form-field-padding-top);
    padding-bottom: var(--cp-form-field-padding-bottom);
    border-bottom: 1px var(--border-color) dotted;
}

@media screen and (max-width: 550px) {
    label {
        width: auto;
    }
}

input, select {
    font-family: monospace;
    font-size: var(--cp-form-field-font-size);
}

span.input {
    display: table-cell;
    padding-left: var(--panel-margin);
    padding-bottom: var(--cp-form-field-padding-bottom);
    vertical-align: bottom;
    font-size: var(--cp-form-field-font-size);
}

@media screen and (max-width: 550px) {
    span.input {
        width: 0px;
    }
}

label.outputNumeric {
    display: table-cell;
    width: 20em;
    padding-top: var(--cp-form-field-padding-top);
    padding-bottom: var(--cp-form-field-padding-bottom);
    border-bottom: 1px var(--border-color) dotted;
}

span.outputNumeric {
    display: table-cell;
    width: 4em;
    padding-left: calc(2*var(--block-main-margin));
    padding-bottom: 3pt;
    text-align: right;
    vertical-align: bottom;
    font-family: monospace;
    font-size: var(--panel-main-font-size);
}

span.cpPromptIcon {
    cursor: help;
    font-size: var(--panel-main-font-size);
}

@media screen and (max-width: 550px) {
    span.cpPromptIcon {
        display: none;
    }
}

div.cpInfoPrompt {
    font-size: var(--panel-prompt-font-size);
}

.cpTextControl {
    padding-left: 3pt;
    font-family: monospace;
    font-size: var(--cp-form-field-font-size);
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

div.cpFormField {
    display: table-row;
    font-size: var(--cp-form-field-font-size);
}

div.cpFormFieldBlockBody {
    display: table;
    margin-top: 0;
}

@media screen and (max-width: 550px) {
    div.cpFormFieldBlockBody {
        width: 100%;
    }
}

div.cpFormFieldBlock {
    margin-top: var(--cp-form-field-block-margin-top);
}

input[type="button"] {
    margin-right: var(--block-main-margin);
    font-family: sans-serif;
}

img.buttonIcon {
    vertical-align: middle; 
    width: 13pt; 
    cursor: pointer;
}

div.cpTab {
    margin-left: var(--panel-margin);
}

@media screen and (max-width: 550px) {
    div.cpTab {
        width: 100%;
        margin-top: 0;
        margin-left: 0;
    }
}

#spanStepNumber {
    padding-left: 3pt;
    font-family: monospace;
    font-size: var(--cp-form-field-font-size);
    color: blue;
    white-space: nowrap;
}

div.cpButtonBlock {
    margin-left: var(--panel-margin);
    margin-top: var(--panel-margin);
    margin-bottom: 5pt;
}

@media screen and (max-width: 550px) {
    div.cpButtonBlock {
        margin-left: 0;   
    }     
}

#divControlPanel {
    display: inline-block;
    width: var(--cp-width);
    min-height: var(--cp-height);
    margin-left: var(--panel-margin);
    margin-top: var(--panel-margin);
    margin-right: var(--panel-margin);
    margin-bottom: calc(2*var(--panel-main-margin));
    border: var(--panel-border-width) var(--border-color) solid;
    border-radius: var(--cp-border-radius);
    vertical-align: top;
    text-align: left;
}

@media screen and (max-width: 550px) {
    #divControlPanel {
        width: auto;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-bottom: var(--panel-main-margin);
        text-align: left;
        border: none;
    }
}

#divConsole {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media screen and (max-width: 550px) {
    #divConsole {
        width: 100%;
    }
}

#divConsole {
    margin-bottom: calc(var(--panel-margin)/2);
}

body {
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

@media screen and (max-width: 550px) {
    body {
        margin: 0;
        background-color: antiquewhite;
    }
}
